body {
  background-color: #f5f7fa;
  background-image: linear-gradient(to bottom, #b9d2e6, #f5f7fa);
}

.banner {
  display: block;
  max-width: 100%;
  width: 500px;
  height: auto;
  margin: 0 auto;
  border: 5px solid #ffcc00;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.banner img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.bannerText {
  text-align: center;
  font-size: 24px;
  margin-top: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-family: "Arial", sans-serif;
  color: #ff9900;
  animation: fancy-animation 3s ease-in-out infinite alternate;
}

@keyframes fancy-animation {
  0% {
    transform: scale(1);
    color: #ff9900;
  }
  50% {
    transform: scale(1.2);
    color: #ffcc00;
  }
  100% {
    transform: scale(1);
    color: #ff9900;
  }
}

.options {
  width: 300px;
  display: block;
  margin: 0 auto;
  border: 3px solid black;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
   border: 5px solid #ffcc00;
}

#scroll-container {
  border: 5px solid #000;
  border-radius: 5px;
  height: 100px;
  overflow: hidden;
  width: 500px;
  display: block;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 5px solid #ffcc00;
  border-radius: 10px;
}
  
  #scroll-text {
    height: 100%;
    text-align: center;
    
    /* animation properties */
    -moz-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    
    -moz-animation: my-animation 5s linear infinite;
    -webkit-animation: my-animation 5s linear infinite;
    animation: my-animation 5s linear infinite;
  }
  
  /* for Firefox */
  @-moz-keyframes my-animation {
    from { -moz-transform: translateY(-100%); }
    to { -moz-transform: translateY(100%); }
  }
  
  /* for Chrome */
  @-webkit-keyframes my-animation {
    from { -webkit-transform: translateY(-100%); }
    to { -webkit-transform: translateY(100%); }
  }
  
  @keyframes my-animation {
    from {
      -moz-transform: translateY(-100%);
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
    }
    to {
      -moz-transform: translateY(100%);
      -webkit-transform: translateY(100%);
      transform: translateY(100%);
    }
  }



.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.start-button {
  background-color: #ffcc00;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
